header {
  background: white;
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
    object-fit: contain;
  }
}
