@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

* {
  margin: 0;
}

:root {
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif !important;
  --main-bg: #f7f7f8;
  --main-grey: lightgray;
}

html {
  font-size: 1rem;
}

.app {
  background: var(--main-bg);
}