@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Noto Sans', sans-serif !important;
  --main-bg: #f7f7f8;
  --main-grey: lightgray;
}

body {
  background: var(--main-bg);
}

.app {
  padding-bottom: 180px;
}

input {
  font-family: 'Noto Sans', sans-serif !important;
}